/* .Dashboard-tool{
    height: 50px;
    background-color: aqua;
} */
@media only screen and (max-width: 768px) {

#plus{
    font-size: 18px;
    margin-left: 4px;
    color: #4998B7;
}
#val-admin{
    color: #4998B7;
    font-size: 25px;
font-weight: bold;
    font-family: 'Alef', sans-serif;


}
#add-child{
    /* margin-top: 10px; */
    
    margin-right: 120px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: black;
    border: 2px #4998B7 solid;
    background-color: white;
    font-size: 14px;
margin-bottom: 20px;
    font-family: 'Alef', sans-serif;

}
.user-welcome{
    position: absolute;
    top: 120px;
    right: 38px;
    font-family: 'Alef', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(22, 129, 158);

}
.my-children-admin{
    position: absolute;
    top:230px;
    direction: rtl;
    width: 100%;
    right: 30px;
    font-family: 'Alef', sans-serif;
    color: rgb(22, 129, 158);

    
}
.title-children{
    display: flex;
    margin-right: -25px;
}


#userType-select-admin{
    width: 30%;
    margin-top: 40px;
    margin-right: 90px;

}
#List-select-admin-e{
    width: 32%;
    background-color: transparent;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(22, 129, 158);
}
#demo-simple-select-placeholder-label{
    font-family: 'Alef', sans-serif;
    font-size: 14px;


}
.admin-Dashboard{
    position: absolute;
    top: 145px;
    right: 62px;
    font-family: 'Alef', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(22, 129, 158);
}

}