/* .Dashboard-tool{
    height: 50px;
    background-color: aqua;
} */
@media only screen and (max-width: 768px) {

.menu-type-title-e{
    font-family: 'Alef', sans-serif;
    color: rgb(22, 129, 158);
    font-size: 18px;
    font-weight: bold;
    /* margin-right: 40px; */
    direction: rtl;

}
.menu-type{
    font-family: 'Alef', sans-serif;
    color: rgb(22, 129, 158);
    margin-right: 40px;
    direction: rtl;

}
#userType-select-user{
margin-top: -7px;
margin-right: 4px;
width: 50%;
}

.menu-btn{
    background-color:rgba(177, 226, 255, 0.598);
    border: none;
    font-size: 16px;
    margin: 3px;
    padding: 5px;
    font-family: 'Alef', sans-serif;
    border-radius: 4px;
    width: 80%;
    color: rgb(17, 80, 97);


}
.add-to-event-menu{
  margin: 5px;
  width: 40%;
  /* margin-top: 50px; */
  color: #4998B7;
position: relative;
margin-right: 35px;
padding-left: 20px;
padding-right: 20px;
  border-radius: 15px;
  color: black;
  border: 2px #4998B7 solid;
  background-color: white;
margin-bottom: 20px;
  font-family: 'Alef', sans-serif;
}
.delete{
    background-color: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    top: -13px;
    left: 0;
    /* margin-right: 40%;
    margin-top: -15px; */
   
}
.save{
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-right: 40px;
    margin-top: -15px;
   
}
    .user-details{
    padding-top: 10px;
    background-color: rgba(114, 230, 203, 0.201);
    width: 80%;
    margin: 3px;
    margin-top: 0px;
    color: rgb(17, 80, 97);
    font-size: 14px;



}


#plus-menu{
    font-size: 10px;
    margin-left: 7px;
    color: #4998B7;

}
.menu-event{
    direction: rtl;
}
.delete-event-btn{
    border: none;
    background-color: transparent;
  
}


}