/* .Dashboard-tool{
    height: 50px;
    background-color: aqua;
} */
@media only screen and (max-width: 768px) {
.ChildRegistration{
    font-family: 'Alef', sans-serif;
    direction: rtl;
    width: 100%;
    color: rgb(22, 129, 158);
    
    padding-top: 20px;
    margin-right: 10px;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;



}
#form{
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Alef', sans-serif;
    width: 80%;
    direction: rtl;


}

#child{
    font-size: 16px;
    font-family: 'Alef', sans-serif;
    display: block;
    float: right;
    margin-left:4px;
    text-align: right;
    line-height: 22px;


   
}

.titel-ChildRegd{
    margin-top: 50px;
}

#child-submit{
    margin: 5px;
    /* margin-top: 50px; */
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    color: black;
    border: 2px #4998B7 solid;
    background-color: whitesmoke;
    font-size: 16px;
margin-bottom: 20px;
    font-family: 'Alef', sans-serif;

}
#child-submit:hover{
    background-color: #4998B7;

}
#helper{
    font-family: 'Alef', sans-serif;

}
}