/* .Dashboard-tool{
    height: 50px;
    background-color: aqua;
} */
@media only screen and (max-width: 768px) {


.users-btn{
    background-color:rgba(177, 226, 255, 0.598);
    border: none;
    font-size: 16px;
    margin: 3px;
    padding: 5px;
    font-family: 'Alef', sans-serif;
    border-radius: 4px;
    width: 80%;
    color: rgb(17, 80, 97);


}
.delete{
    background-color: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    top: -13px;
    left: 0;
    /* margin-right: 40%;
    margin-top: -15px; */
   
}
.save{
    background-color: transparent;
    border: none;
    font-size: 25px;
    margin-right: 40px;
    margin-top: -15px;
   
}
    .user-detail{
    padding-top: 10px;
    background-color:#ffebcd62;
    width: 80%;
    margin: 3px;
    margin-top: 0px;
    color: rgb(17, 80, 97);
    font-size: 14px;



}


#add-child{
    /* margin-top: 10px; */
    
    margin-right: 120px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: black;
    border: 2px #4998B7 solid;
    background-color: white;
    font-size: 14px;
margin-bottom: 20px;
    font-family: 'Alef', sans-serif;

}
.user-welcome{
    position: absolute;
    top: 120px;
    right: 38px;
    font-family: 'Alef', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(22, 129, 158);

}
.my-children{
    position: absolute;
    top:210px;
    direction: rtl;
    width: 100%;
    right: 30px;
    font-family: 'Alef', sans-serif;
    color: rgb(22, 129, 158);

    
}



}